@charset "utf-8";
/* CSS Document */

body{
	background-color:#CCC;
	color:#055702;
}

a{ color: #055702; }
a:hover{color: #055702;}

.content{background-color:#f8f8f8;}

/*------------------------Header------------------------*/

#barra-brasil{background-color:#055702;}
	
#Titulo{color:#055702;}

.second-level-menu li{ background: #999;}
.second-level-menu li:hover { background: #CCC;}

/*-------------------------MENU--------------------------*/

#nav{background-color:#055702;}
#nav .menu li{background: #055702;}


/*------------------------Footer-------------------------*/

#footer{
	color: #FFF;
	background-color: #033E01;
}
